* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

input {
  font-family: inherit;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-image: url('/images/index/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}